<!DOCTYPE html>
<html>
<head>
  <title>Contact Form Submission</title>
</head>
<body>
  <p>
    You have received a new contact form submission:
  </p>
  <p>
    <strong>Name:</strong> <%= @full_name %><br>
    <strong>Email:</strong> <%= @email %><br>
    <strong>Reason:</strong> <%= @reason %>
  </p>
</body>
</html>