
<section id="hero" class="hero">
    <%= image_tag 'me.png', alt: 'Matt Cruz', class: 'hero-image' %>
    <div class="hero-text-container">
    <h1>Get Lean, Get Strong, Get Ripped </h1>
    <p>Oh, and you can still have fun doing it.</p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdE8g3-wbdrIeAuF1ooMyI0HnbI3px3ln8d8AeyiSPA_rdsHQ/viewform?usp=sf_link" target="_blank" class="cta-button">Take Action TODAY</a>
    </div>
</section>