
<section class="whats-in-store">
    <div class="container">
    <h2>Here's What's In Store For You</h2>
    <ul>
        <li>A plan unique to you that gives you the confidence to get after it</li>
        <li>Belly fat melting off your body</li>
        <li>Actually understanding the key components of health & fitness</li>
        <li>Motivation, support and accountability to keep you honest </li>
        <li>Much more food and much less cardio than you'd expect</li>
        <li>Reasons why the soft reboot will be a good thing for the MCU</li>
    </ul>
    </div>
</section>