/* app/assets/stylesheets/styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
/* styles.css */

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 15px 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    max-height: 200px; /* Adjust the height as needed */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .cta-button {
    background-color: #f00;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  /* Hamburger Menu Styles */
  .hamburger-menu {
    display: none; /* Hide by default for larger screens */
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
  }
  
  /* Media Query for Mobile Responsiveness */
  @media (max-width: 768px) {
    .nav-links {
      display: none; /* Hide regular navigation links for smaller screens */
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px; /* Adjust the top margin as needed */
      left: 0;
      background-color: #333;
    }
  
    .nav-links.show {
      display: flex; /* Show navigation links when the menu is active */
    }
  
    .hamburger-menu {
      display: flex; /* Show hamburger menu for smaller screens */
    }
  }
  
  /* Hero Section Styles */
.hero {
    background-image: url('hero-image.jpg'); /* Replace with the path to your hero image */
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    padding: 100px 20px; /* Adjust the padding as needed */
  }
  
  .hero-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .hero h1 {
    font-size: 2.5em; /* Adjust the font size as needed */
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2em; /* Adjust the font size as needed */
    margin-bottom: 30px;
  }
  
  .cta-button {
    display: inline-block;
    background-color: #f00;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em; /* Adjust the font size as needed */
  }
  
  
  
  
  
  
  
  
  /* Add more styles as needed */
  